*{margin: 0; padding: 0;}

.xuong {
    width: 38px;
    height: 62px;
    border: white solid 1px;
    position: absolute;
    left: 50%;
    bottom: 2%;
    border-radius: 42%;
    margin-left: -19px;
    cursor: pointer;
    transition: 0.4s;
}

.xuong:hover {
    bottom: 4%;
}

.xuong:after {
    content: "";
    position: absolute;
    width: 4px;
    height: 8px;
    background: white;
    left: 50%;
    bottom: 70%;
    margin-left: -2px;
}

span.motaqt1 {
    color: #969494;
}

p.motaqt2 {
    margin-bottom: 40px;
    font-family: segoe ui;
    color: #969494;
}

p.motaqt {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 18px;
    color: #656464;
}

h3.tieudecap3 {
    font-size: 25px;
    color: #e9585f;
    margin-bottom: 20px;
    text-transform: uppercase;
}

h2.tieude2 {
    font-weight: normal;
    font-family: segoe ui light;
    text-transform: uppercase;
    margin-bottom: 40px;
}

span.dam {
    font-weight: bold;
    font-family: segoe ui;
}

.tieude1 {
    margin-top: 120px;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-size: 30px;
    font-family: segoe ui;
}

a.nuthire.btn.btn-primary {
    background: black;
    width: 180px;
    border: none;
    border-radius: 5px;
}

.tt p {
    color: #373a3c;
    font-size: 15px;
    line-height: 24px;
    width: 50%;
    margin: auto;
    margin-bottom: 34px;
}

.tt h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}

.tt img {
    border-radius: 50%;
    width: 15%;
}

.tt {
    z-index: 2;
    position: relative;
    padding-top: 20%;
}

.khoitt1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #e4555b;
}

a.navbar-brand {
    padding: 0;
}

.khoitt1 {
    height: 100%;
    width: 100%;
    background: #e9585f;
    position: relative;
}

body, html {
    width: 100%;
    height: 100%;
}

a.nav-link {
    font-family: segoe ui;
    text-transform: uppercase;
    line-height: 80px;
    font-size: 13px;

} 
nav.navbar.navbar-light.bg-faded {
	margin: 0;
	padding: 0;
	height: 100px;
}

nav.navbar.navbar-light.bg-faded.navbar-fixed-top {
    background-color: white;
}

li.nav-item{
	margin: 0;
	padding: 0;
	margin: 0 1px;
}

@media (max-width: 576px){
	a.navbar-brand {
		display: block;
		text-align: center;
		width: 100%;
	}
	a.nav-link {
		line-height: 20px;
		display: inline!important;
	}
	li.nav-item {
		display: inline!important;
		float: none!important;
	}

	ul.nav.navbar-nav.float-xs-right {
		text-align: center!important;
		background: white;
		margin:0;
		padding:0;
		width: 109%;
		position: relative;
		left: 15px;
		border-top: 1px dashed #afacac;
	}

.tt h2 {
    font-size: 22px;
}

.tt p {
    line-height: 20px;
    width: 90%;
}

.tt img {
    margin-top: 120px;
    width: 109px;
}

h2.tieude2 {
    margin-top: 40px;
}

}
