*{margin: 0; padding: 0;}

.tieude h2 {
    font-size: 40px;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 700;
    color: #f7817c;
}

p {
    font-family: 'Roboto', arial, sans-serif;
    color: #756c6c;
}

h3 {
	display: inline-block;
  padding: 0.3em 0.5em;
  text-decoration: none;
  border-left: solid 6px #f7817c;/*左線*/
  border-bottom: solid 1px #efabab;/*左線*/

  font-weight: bold;
  /*box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.29);*/

    font-size: 30px;
    font-family: 'Roboto', arial, sans-serif;
    color: #efabab;
}

blockquote.blockquote {
    background: #f3e7e7;
    border-left: 4px solid #efabab;
    border-radius: 4px;
    font-size: 15px;
    font-family: 'Roboto', arial, sans-serif;
} 
.top {
	background: url(images/banner.jpg);
	background-size: cover;
	height: 1000px;
}
.mtren{
	background: transparent;
}


a.logo {
	width: 370px;
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	text-transform: uppercase;
}

a.logo img {
	width: 20%;
}
.top .menuphai a.nav-link {
	text-transform: uppercase;
	padding:32px 23px;
	font-size: 14px;
	font-family: 'Roboto Slab', serif;  
	color: white;
	transition: 0.4s;
}

.top .menuphai li.active a.nav-link {
	color:#f7817c;
}
.top .menuphai a.nav-link:hover{
	color: #f7817c;

}

.banner h1 {

color: #dad8d8;

padding-top: 290px;
}
.banner p {

color: #cecece;

font-size: 20px;

padding-top: 20px;

padding-bottom: 30px;
}
.banner a {

font-size: 20px;

font-family: "roboto slab", serif;

font-weight: 700;

padding: 10px 40px;

background: #ec6952;
}

.avatar {
	border-radius: 50%;
}

.tamgiac {
	width:0px;
	height:0px;
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
	border-right: 10px solid #efabab;
	position: absolute;
	left: 100px;
	top: 26px
  }

.carousel-indicators li {
	background: gray;
}

.carousel-indicators li.active {
	background: #ec6952;
}

.carousel-indicators {
	bottom: -50px;
}

.logo{
	transition: 0.5s;
}

.logo.chucam {
	background: white;
}

.buttonup{
	color: #efabab;
	transition: 0.3s;
}

.buttonup:hover{
	color: #f3e7e7;
}

@media (max-width:576px){
	* {
		
	}

blockquote.blockquote {
    width: 76%;
    position: relative;
    top: -79px;
    left: 94px;
}

.avatar {
    width: 70px;
}
	a.logo {
		width:200px;
		height:60px;
		top: -60px;
		margin-left:90px;
		font-size: 15px
	}
	.menuphai {
		background:#253340;
		width:100%;
		padding:15px;
	}
	.top .menuphai a.nav-link{
		padding:10px;
		
	}
	.banner h1{
		font-size:30px;
		padding-top:100px;
	}
	.top {
		height:500px;
	}
}